fastapi
uvicorn[standard]
python-multipart
PyMySQL
mysql-connector-python
SQLAlchemy
passlib[bcrypt]
python-jose[cryptography]
bcrypt
python-dotenv
PyMuPDF
google-generativeai
pydantic
email-validator